*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background: #001523;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle{
    position: relative;
    height: 110px;
    width: 300px;
    border-radius: 3rem;
    background: #fff;
}
.indicator{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #000;
    top: -10px;
    left: -10px;
    transform: scale(0.8);
    transition: 0.5s ease all;
}
.indicator.active{
    position: absolute;
    background: red;
    left: 180px;
}